layout {

    focus-ring {
        active-color   "#4f6264"
        inactive-color "#fbf9f8"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#4f6264"
        inactive-color "#fbf9f8"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4f6264"
        inactive-color "#d2e6e8"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#4f626480"
    }
}

recent-windows {
    highlight {
        active-color "#4f6264"
        urgent-color "#ba1a1a"
    }
}
